# Python Set Methods
This notebook provides short descriptions and code samples for commonly used Python set methods.

## Table of Contents
- [add()](#add)
- [clear()](#clear)
- [copy()](#copy)
- [difference()](#difference)
- [difference_update()](#difference_update)
- [discard()](#discard)
- [intersection()](#intersection)
- [isdisjoint()](#isdisjoint)
- [issubset()](#issubset)
- [pop()](#pop)
- [remove()](#remove)
- [symmetric_difference()](#symmetric_difference)
- [symmetric_difference_update()](#symmetric_difference_update)
- [union()](#union)
- [update()](#update)

## add()
Adds an element to the set.

In [1]:
s = {1, 2, 3}
s.add(4)
print(s)  # {1, 2, 3, 4}

{1, 2, 3, 4}

## clear()
Removes all elements from the set.

In [2]:
s = {1, 2, 3}
s.clear()
print(s)  # set()

set()

## copy()
Returns a shallow copy of the set.

In [3]:
s = {1, 2, 3}
s_copy = s.copy()
print(s_copy)  # {1, 2, 3}

{1, 2, 3}

## difference()
Returns a set containing the difference between two or more sets.

In [4]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
diff = s1.difference(s2)
print(diff)  # {1}

{1}

## difference_update()
Removes items in this set that are also in another specified set.

In [5]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s1.difference_update(s2)
print(s1)  # {1}

{1}

## discard()
Removes a specified element from the set. If the element is not present, no error is raised.

In [6]:
s = {1, 2, 3}
s.discard(2)
print(s)  # {1, 3}

{1, 3}

## intersection()
Returns a set containing the intersection of sets.

In [7]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
inter = s1.intersection(s2)
print(inter)  # {2, 3}

{2, 3}

## isdisjoint()
Returns True if two sets have a null intersection.

In [8]:
s1 = {1, 2}
s2 = {3, 4}
print(s1.isdisjoint(s2))  # True

True

## issubset()
Returns True if all elements of this set are present in another specified set.

In [9]:
s1 = {1, 2}
s2 = {1, 2, 3}
print(s1.issubset(s2))  # True

True

## pop()
Removes and returns an arbitrary element from the set.

In [14]:
s = {1, 2, 3}
elem = s.pop()
print(elem, s)  # e.g., 1 {2, 3}

1 {2, 3}

## remove()
Removes a specified element from the set. If the element is not present, raises a KeyError.

In [15]:
s = {1, 2, 3}
s.remove(2)
print(s)  # {1, 3}

{1, 3}

## symmetric_difference()
Returns a set containing the symmetric difference of two sets. In other words, this function excludes the intersection of two sets.

In [16]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
sym_diff = s1.symmetric_difference(s2)
print(sym_diff)  # {1, 4}

{1, 4}

## symmetric_difference_update()
*Updates* the set with the symmetric difference of itself and another set.

In [17]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s1.symmetric_difference_update(s2)
print(s1)  # {1, 4}

{1, 4}

## union()
Returns a set containing the union of sets.

In [18]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
uni = s1.union(s2)
print(uni)  # {1, 2, 3, 4}

{1, 2, 3, 4}

## update()
Updates the set with the union of itself and another set.

In [19]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s1.update(s2)
print(s1)  # {1, 2, 3, 4}

{1, 2, 3, 4}